@import "../../variables.module.scss";
.image-info {
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  background-color: $secondaryColor;
  margin-top: 4%;
  height: 75%;
  font-size: 1.2rem;
  width: 90%;
  padding: 15px 10px;
  color: $textColor;

  .image {
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      width: 100%;
      flex-grow: 0;
      @media (max-width: 1600px) {
        font-size: 1rem;
      }

      @media (max-width: 1279px) {
        font-size: 0.9rem;
      }
      @media (max-width: 1150px) {
        font-size: 0.85rem;
      }

      div {
        width: 100%;
        border: 1px solid $textColor;
        border-top: 0;
        border-left: 0;
        padding: 0 10px;

        h3 {
          padding-bottom: 5px;
        }
      }

      .add-to-watchlist {
        width: 100%;
        height: 100%;
        display: flex;
        .add-to-watchlist-btn {
          align-self: center;
          border: 0;
          .add-to-watch-list-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            border: 0;

            .heart {
              border: 0;
              width: 15%;
              text-align: center;
              font-size: 2rem;
              flex-shrink: 1;
            }
          }
        }
      }
    }
    .images-container {
      width: 100%;
      flex-grow: 1;
      margin-top: 2rem;
      @media (max-width: 1600px) {
        font-size: 1rem;
        margin: 0.5rem 0 0.75rem 0;
      }
      @media (max-width: 1280px) {
        margin: 0.5rem 0 0.75rem 0;
      }

      button {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        border: 1px solid $textColor;
        color: $textColor;
        align-self: center;
        border-radius: 50%;
        padding: 5px 10px;
        background-color: transparent;
      }

      .images {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        flex-grow: 0;

        .single-image {
          width: 20%;
        }

        img {
          width: 100%;
          height: 120%;

          @media (max-width: 1600px) {
            height: 100%;
          }
          @media (max-width: 1280px) {
            height: 100%;
          }
        }
      }
    }
    .show-name {
      flex-grow: 0;

      margin: 2rem;

      a {
        text-decoration: none;
        :hover {
          color: $mainColor;
        }
      }
    }
    .genres-container {
      flex-grow: 0;
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-top: 1px solid $textColor;
      border-bottom: 1px solid $textColor;
      height: 10%;

      h3 {
        border-right: 1px solid $textColor;
        padding-right: 10%;
      }
      @media (max-width: 1600px) {
        font-size: 1rem;
        padding: 0;
      }
      @media (max-width: 1280px) {
        font-size: 0.9rem;
      }
      .genres {
        display: flex;
        align-items: center;
        flex-grow: 0;
        width: 100%;
        justify-content: space-around;

        a {
          text-decoration: none;
          color: $textColor;

          :hover {
            background-color: $textColor;
            color: $mainColor;
          }
        }

        h4 {
          padding: 5px 1rem;
          border-radius: 20px;
          border: 1px solid $textColor;
          @media (max-width: 1280px) {
            padding: 3px 0.6rem;
          }
        }
      }
    }
    .seasons-episodes {
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-grow: 0;
      justify-content: space-evenly;

      @media (max-width: 1600px) {
        font-size: 1rem;
      }
      @media (max-width: 1280px) {
        font-size: 0.9rem;
      }
    }
    .details {
      // padding-bottom: 1rem;
      flex-grow: 1;
      overflow-y: auto;
      max-height: 60%;
      padding-bottom: 1rem;
      margin-top: 0.5rem;
      padding-right: 0.3rem;

      @media (max-width: 1600px) {
        font-size: 1.05rem;
      }

      @media (max-width: 1280px) {
        font-size: 0.9rem;
      }
    }
    .stars-creator {
      display: flex;

      .stars,
      .creator {
        width: 50%;
        padding-top: 0.7rem;
        text-align: center;
        height: 100%;
        @media (max-width: 1600px) {
          font-size: 1rem;
          padding-top: 1px;
        }
        @media (max-width: 1280px) {
          font-size: 0.9rem;
        }
      }
      .stars {
        border-right: 1px solid $textColor;
        color: wh;
      }
    }
  }
  .modal {
    background-color: transparent;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    .modal-container {
      width: 90%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }
    button {
      position: absolute;
      top: 0;
      padding: 10px 15px;
      right: 0;
      font-size: 2rem;
      background-color: $mainColor;
      color: $textColor;
    }
  }
}
