@import "../../variables.module.scss";

.card {
  width: 270px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 20px;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    height: 350px;
  }

  .rating {
    background-color: red;
    position: absolute;
    right: 0;
  }

  button {
    width: 100%;
    background-color: #0cca4a;
    height: 50px;
    text-decoration: none;

    // :hover {
    //   background-color: #29524a;
    // }
  }

  .card-info {
    height: 105px;
    display: flex;
    flex-direction: column;

    .card-name {
      height: 70%;
      border: 1px solid red;
      overflow: hidden;
    }
  }

  .genres {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.4rem;

    p {
      border: 1px solid gray;
      padding: 0 5px;
      border-radius: 20px;
      margin-top: 5px;
    }
  }
}
