@import "../../variables.module.scss";

.page-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25%;
  background-color: $mainColor;
  z-index: 1;

  .watchlist-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    border-left: 3px solid $textColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
    .list-container {
      height: 95%;
      display: flex;
      flex-grow: 0;
      flex-direction: column;
    }
    .btn-container {
      width: 100%;
      background-color: $mainColor;
      position: absolute;
      bottom: 0;
      height: 5%;
      button {
        width: 100%;
        height: 100%;
        font-weight: 700;
        background-color: transparent;
        border: 1px solid $textColor;
        border-left: 0;
        color: $textColor;
      }
      :hover {
        color: $mainColor;
        background-color: $textColor;
        border: 0;
      }
    }

    .title {
      margin-top: 4.2vh;
      width: 100%;
      background-color: $textColor;
      h3 {
        border: 0;
        font-size: 1.5rem;
        margin-bottom: -1px;
        display: inline-block;
        background-color: $mainColor;
        padding-left: 1rem;
        padding-right: 5rem;
        -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);

        color: $textColor;
      }
    }
    .list {
      width: 100%;
      border-top: 0;
      padding: 0 1rem;
      flex-grow: 1;
    }
  }
  .empty {
    color: $textColor;
    margin: 2rem 0 0 1rem;
  }
}
