.page-container {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 100vh;
  background-color: red;
  z-index: 1;
  .watchlist-container {
    width: 20vw;
    margin-right: -2px;
    height: 100%;
    border: 1px solid red;
  }
}
