@import "../../variables.module.scss";

.page-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $mainColor;
  z-index: 1;

  .watchlist-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 20vw;

    .title {
      margin-top: 4.2vh;
      width: 100%;
      background-color: $textColor;
      h3 {
        border: 0;
        font-size: 1.5rem;
        margin-bottom: -1px;
        display: inline-block;
        background-color: $mainColor;
        padding-left: 1rem;
        padding-right: 5rem;
        -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);

        color: $textColor;
      }
    }
    .list {
      width: 100%;
      border-top: 0;
      padding: 0 1rem;
    }
  }
}
