@import "../../variables.module.scss";

.carousel-container {
  width: 90%;
  height: 60vh;
  background-color: #29524a;
  margin: 0 auto;
  // display: flex;
  position: relative;
  // margin-top: 30px;
  border-radius: 15px;

  button {
    width: auto;
    height: auto;
    font-size: 20px;
    background-color: #29524a;
    color: wheat;
    border: 0;
  }

  .btn1 {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .btn2 {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  .btn1 button,
  .btn2 button {
    width: 40px;
    height: 30px;
    background-color: $mainColor;
    font-size: 30px;
    border: 0;
    color: $textColor;
  }
  .image-info {
    height: 100%;
    width: 100%;

    .images-container {
      display: none;
    }
    .details {
      margin-right: 2rem;
    }
  }
}
