@import "../../variables.module.scss";

.carousel-container {
  width: 90%;
  height: 60vh;
  background-color: #29524a;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 30px;
  border-radius: 15px;

  .carousel-img {
    width: 40%;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  .carousel-info {
    width: 60%;
    border: 1px solid black;

    button {
      width: auto;
      height: auto;
      font-size: 20px;
      background-color: #29524a;
      color: wheat;
      border: 0;
    }
  }
  .btn1 {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .btn2 {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  button {
    width: 40px;
    height: 30px;
    background-color: $mainColor;
    font-size: 30px;
    border: 0;
    color: $secondaryColor;
  }
}
