@import "../../variables.module.scss";

.single-episode {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  min-height: 12rem;
  color: $mainColor;
  border-radius: 10px;
  border: 2px solid $mainColor;
  h4 {
    background-color: $mainColor;
    opacity: 1;
    color: rgba(255, 255, 255, 0.582);
    text-align: end;
    padding-right: 2%;
    flex-grow: 0;
    flex-shrink: 1;
    width: 42%;
    color: $orange;
    font-weight: 300;
    align-self: flex-end;
    -webkit-clip-path: polygon(0 0, 101% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 101% 0, 100% 100%, 10% 100%);
    margin-bottom: -10px;

    @media (max-width: 1600px) {
      font-size: 0.9rem;
    }
    @media (max-width: 1280px) {
      font-size: 0.8rem;
    }
  }
  .episode-top {
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    height: 30px;
    flex-grow: 0;
    background-color: $mainColor;
    padding-bottom: 0.1rem;

    color: $orange;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    margin-bottom: -2px;
    @media (max-width: 1600px) {
      font-size: 1.1rem;
    }
    @media (max-width: 1280px) {
      font-size: 1rem;
    }

    .episode-rating {
      display: flex;
      align-items: center;

      font-size: 1.3rem;
    }
  }

  .episode-details {
    padding: 0 1rem;
    flex-grow: 1;
    h3 {
      padding: 0.8rem 0 0.5rem 0;
      color: $orange;
      @media (max-width: 1600px) {
        font-size: 1.1rem;
      }
      @media (max-width: 1280px) {
        font-size: 1rem;
      }
    }
    @media (max-width: 1600px) {
      font-size: 1rem;
    }
    @media (max-width: 1280px) {
      font-size: 0.9rem;
    }
  }

  .episode-bottom {
    margin: 1rem 0 10px 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: gray;

    div {
      border-bottom: 1px solid $gray;
      display: flex;
      align-items: center;
      font-size: 1rem;

      @media (max-width: 1600px) {
        font-size: 0.9rem;
      }
      @media (max-width: 1280px) {
        font-size: 0.8rem;
      }
    }
  }
}
