@import "../../variables.module.scss";

.footer {
  width: 100%;
  display: flex;

  background-color: $mainColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-recently-viewed {
    .btn-small-cardlist {
      border: 1px solid $textColor;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 1.5rem 0;
    }
    .card {
      background-color: transparent;
      border: 1px solid $textColor;
      .card-name {
        color: $textColor;
        padding-bottom: 0.5rem;
      }
    }
    .card-info {
      display: none;
    }
  }

  button {
    background-color: $mainColor;
    border: 1px solid $textColor;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 1rem 0;
    font-weight: 700;
    color: $textColor;
  }
}
