@import "../../variables.module.scss";
.top-of-filterpage {
  width: 100%;
  background-color: $textColor;
  border: 0;
  font-size: 0.9rem;
  h1 {
    display: inline-block;
    padding: 0 5rem 0 2%;
    margin-bottom: -1px;
    color: $textColor;

    background-color: $mainColor;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}
.cards {
  .cardlist-settings {
    padding-top: 3rem;
  }
}
