@import "../../variables.module.scss";
.single-person {
  width: 50%;
  align-items: center;
  display: flex;

  .single-person-name {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 0;
    flex-shrink: 1;
    @media (max-width: 1600px) {
      font-size: 1.1rem;
    }
    @media (max-width: 1280px) {
      font-size: 1.1rem;
    }

    p {
      color: rgb(184, 174, 174);
      margin: 3px 0;
    }
  }
  .single-person-img {
    margin-right: 1.7rem;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 150px;
      border-radius: 40%;
      margin: 0 0 1rem 1.5rem;
    }
  }
  .active {
    color: $orange;
    font-size: 1.5rem;

    @media (max-width: 1600px) {
      font-size: 1.5rem;
    }
    @media (max-width: 1280px) {
      font-size: 1.3rem;
    }
  }
}
