// $mainColor: rgb(22, 16, 50);
// $mainColor: #16100f;
$mainColor: #221e22;

$secondaryColor: rgba(96, 91, 86, 0.8);
// $secondaryColor: #29524a;
// $secondaryColor: #002400;

// $textColor: #44a1a0;
$orange: #ee964b;
// $orange: #ee964b;
$gray: rgba(121, 128, 134, 0.2);
$background: white;
// $textColor: #0d5c63;
$textColor: #fcde9c;

:export {
  mainColor: $mainColor;
  secondaryColor: $secondaryColor;
  textColor: $textColor;
  orange: $orange;
  background: $background;
  gray: $gray;
}
