@import "../../variables.module.scss";

.single-page-container {
  background-color: $mainColor;
  color: $textColor;

  .top-of-single-page {
    background-color: $mainColor;
    height: calc(100vh - 47px - 65px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: $mainColor;
    background-color: $textColor;
  }

  .image-info {
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    background-color: $secondaryColor;
    margin-top: 4%;
    height: 75%;
    font-size: 1.2rem;
    width: 90%;
    padding: 15px 10px;
    color: $textColor;

    .image {
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: flex;
        width: 100%;
        justify-content: space-between;

        div {
          width: 100%;
          border: 1px solid $textColor;
          border-top: 0;
          border-left: 0;
          padding: 0 10px;

          h3 {
            padding-bottom: 5px;
          }
        }

        .add-to-watchlist {
          width: 100%;
          height: 100%;
          display: flex;
          .add-to-watchlist-btn {
            align-self: center;
            border: 0;
            .add-to-watch-list-text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-grow: 1;
              border: 0;

              .heart {
                border: 0;
                width: 15%;
                text-align: center;
                font-size: 2rem;
                flex-shrink: 1;
              }
            }
          }
          // button {
          //   width: 80%;
          //   background-color: transparent;
          //   height: 100%;
          //   font-size: 1.5rem;
          //   color: $textColor;
          //   border: 0;
          // }

          // .heart {
          //   width: 25%;
          //   height: 100%;
          //   border: 0;
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   font-size: 2rem;
          //   margin: 0 auto;
          // }
        }
      }
      .images-container {
        width: 100%;
        flex-grow: 1;
        margin: 1rem 0 1.5rem 0;

        button {
          height: 50px;
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          border: 1px solid $textColor;
          color: $textColor;
          align-self: center;
          border-radius: 50%;
          padding: 5px 10px;
          background-color: transparent;
        }

        .images {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          flex-grow: 0;

          .single-image {
            width: 20%;
            height: 150px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .genres-container {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
        border-top: 1px solid $textColor;
        border-bottom: 1px solid $textColor;

        h3 {
          border-right: 1px solid $textColor;
          padding-right: 10%;
        }
        .genres {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-around;

          h4 {
            padding: 5px 1rem;
            border-radius: 20px;
            border: 1px solid $textColor;
          }
        }
      }
      .seasons-episodes {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-grow: 0;
        justify-content: space-evenly;
        margin-top: 2rem;
        // border-bottom: 1px solid $textColor;
      }
      .details {
        // padding-bottom: 1rem;
        flex-grow: 1;
        overflow-y: auto;
        max-height: 60%;
        padding-bottom: 1rem;
        margin-top: 0.5rem;
        padding-right: 0.3rem;
      }
      .stars-creator {
        display: flex;

        .stars,
        .creator {
          width: 50%;
          // border: 1px solid red;
          padding-top: 0.7rem;
          // border-right: 1px solid $textColor;
          text-align: center;
          height: 100%;
        }
        .stars {
          border-right: 1px solid $textColor;
          color: wh;
        }
      }
    }
  }
  .main {
    padding: 0 12%;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    flex-grow: 0;
  }
  .episodes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .single-episode {
      width: 32%;
    }
  }
  .cast-and-recent-episode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 0;
    .cast-container {
      width: 66%;
      flex-grow: 0;
      display: flex;
      flex-direction: column;

      .show-more {
        text-align: center;
        align-self: center;
        width: 18%;
        background-color: $textColor;
        color: $mainColor;
        font-size: 1.5rem;
        -webkit-clip-path: polygon(
          50% 0%,
          100% 0,
          100% 60%,
          85% 100%,
          15% 100%,
          0 60%,
          0 0
        );
        clip-path: polygon(
          50% 0%,
          100% 0,
          100% 60%,
          85% 100%,
          15% 100%,
          0 60%,
          0 0
        );
      }

      .cast {
        // background-color: #593d3b;
        color: $textColor;
        border: 1px solid $textColor;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 15px;
      }
    }
    .recent-episodes {
      width: 32%;
      display: flex;
      flex-direction: column;

      flex-grow: 0;

      .single-episode {
        margin-bottom: 2.8rem;
      }
    }
  }
}
